header {
    background-color: #f2f2f2;
    padding: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333333;

  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #666666;
  }
  
  nav a:hover {
    color: #000000;
  }
